.sass.Red {
  background-color: #e51c23;
}
.sass.Red-50 {
  background-color: #fde0dc;
}
.sass.Red-100 {
  background-color: #f9bdbb;
}
.sass.Red-200 {
  background-color: #f69988;
}
.sass.Red-300 {
  background-color: #f36c60;
}
.sass.Red-400 {
  background-color: #e84e40;
}
.sass.Red-500 {
  background-color: #e51c23;
}
.sass.Red-600 {
  background-color: #dd191d;
}
.sass.Red-700 {
  background-color: #d01716;
}
.sass.Red-800 {
  background-color: #c41411;
}
.sass.Red-900 {
  background-color: #b0120a;
}
.sass.Red-A100 {
  background-color: #ff7997;
}
.sass.Red-A200 {
  background-color: #ff5177;
}
.sass.Red-A400 {
  background-color: #ff2d6f;
}
.sass.Red-A700 {
  background-color: #e00032;
}
.sass.Pink {
  background-color: #e91e63;
}
.sass.Pink-50 {
  background-color: #fce4ec;
}
.sass.Pink-100 {
  background-color: #f8bbd0;
}
.sass.Pink-200 {
  background-color: #f48fb1;
}
.sass.Pink-300 {
  background-color: #f06292;
}
.sass.Pink-400 {
  background-color: #ec407a;
}
.sass.Pink-500 {
  background-color: #e91e63;
}
.sass.Pink-600 {
  background-color: #d81b60;
}
.sass.Pink-700 {
  background-color: #c2185b;
}
.sass.Pink-800 {
  background-color: #ad1457;
}
.sass.Pink-900 {
  background-color: #880e4f;
}
.sass.Pink-A100 {
  background-color: #ff80ab;
}
.sass.Pink-A200 {
  background-color: #ff4081;
}
.sass.Pink-A400 {
  background-color: #f50057;
}
.sass.Pink-A700 {
  background-color: #c51162;
}
.sass.Purple {
  background-color: #9c27b0;
}
.sass.Purple-50 {
  background-color: #f3e5f5;
}
.sass.Purple-100 {
  background-color: #e1bee7;
}
.sass.Purple-200 {
  background-color: #ce93d8;
}
.sass.Purple-300 {
  background-color: #ba68c8;
}
.sass.Purple-400 {
  background-color: #ab47bc;
}
.sass.Purple-500 {
  background-color: #9c27b0;
}
.sass.Purple-600 {
  background-color: #8e24aa;
}
.sass.Purple-700 {
  background-color: #7b1fa2;
}
.sass.Purple-800 {
  background-color: #6a1b9a;
}
.sass.Purple-900 {
  background-color: #4a148c;
}
.sass.Purple-A100 {
  background-color: #ea80fc;
}
.sass.Purple-A200 {
  background-color: #e040fb;
}
.sass.Purple-A400 {
  background-color: #d500f9;
}
.sass.Purple-A700 {
  background-color: #aa00ff;
}
.sass.Deep-Purple {
  background-color: #673ab7;
}
.sass.Deep-Purple-50 {
  background-color: #ede7f6;
}
.sass.Deep-Purple-100 {
  background-color: #d1c4e9;
}
.sass.Deep-Purple-200 {
  background-color: #b39ddb;
}
.sass.Deep-Purple-300 {
  background-color: #9575cd;
}
.sass.Deep-Purple-400 {
  background-color: #7e57c2;
}
.sass.Deep-Purple-500 {
  background-color: #673ab7;
}
.sass.Deep-Purple-600 {
  background-color: #5e35b1;
}
.sass.Deep-Purple-700 {
  background-color: #512da8;
}
.sass.Deep-Purple-800 {
  background-color: #4527a0;
}
.sass.Deep-Purple-900 {
  background-color: #311b92;
}
.sass.Deep-Purple-A100 {
  background-color: #b388ff;
}
.sass.Deep-Purple-A200 {
  background-color: #7c4dff;
}
.sass.Deep-Purple-A400 {
  background-color: #651fff;
}
.sass.Deep-Purple-A700 {
  background-color: #6200ea;
}
.sass.Indigo {
  background-color: #3f51b5;
}
.sass.Indigo-50 {
  background-color: #e8eaf6;
}
.sass.Indigo-100 {
  background-color: #c5cae9;
}
.sass.Indigo-200 {
  background-color: #9fa8da;
}
.sass.Indigo-300 {
  background-color: #7986cb;
}
.sass.Indigo-400 {
  background-color: #5c6bc0;
}
.sass.Indigo-500 {
  background-color: #3f51b5;
}
.sass.Indigo-600 {
  background-color: #3949ab;
}
.sass.Indigo-700 {
  background-color: #303f9f;
}
.sass.Indigo-800 {
  background-color: #283593;
}
.sass.Indigo-900 {
  background-color: #1a237e;
}
.sass.Indigo-A100 {
  background-color: #8c9eff;
}
.sass.Indigo-A200 {
  background-color: #536dfe;
}
.sass.Indigo-A400 {
  background-color: #3d5afe;
}
.sass.Indigo-A700 {
  background-color: #304ffe;
}
.sass.Blue {
  background-color: #5677fc;
}
.sass.Blue-50 {
  background-color: #e7e9fd;
}
.sass.Blue-100 {
  background-color: #d0d9ff;
}
.sass.Blue-200 {
  background-color: #afbfff;
}
.sass.Blue-300 {
  background-color: #91a7ff;
}
.sass.Blue-400 {
  background-color: #738ffe;
}
.sass.Blue-500 {
  background-color: #5677fc;
}
.sass.Blue-600 {
  background-color: #4e6cef;
}
.sass.Blue-700 {
  background-color: #455ede;
}
.sass.Blue-800 {
  background-color: #3b50ce;
}
.sass.Blue-900 {
  background-color: #2a36b1;
}
.sass.Blue-A100 {
  background-color: #a6baff;
}
.sass.Blue-A200 {
  background-color: #6889ff;
}
.sass.Blue-A400 {
  background-color: #4d73ff;
}
.sass.Blue-A700 {
  background-color: #4d69ff;
}
.sass.Light-Blue {
  background-color: #03a9f4;
}
.sass.Light-Blue-50 {
  background-color: #e1f5fe;
}
.sass.Light-Blue-100 {
  background-color: #b3e5fc;
}
.sass.Light-Blue-200 {
  background-color: #81d4fa;
}
.sass.Light-Blue-300 {
  background-color: #4fc3f7;
}
.sass.Light-Blue-400 {
  background-color: #29b6f6;
}
.sass.Light-Blue-500 {
  background-color: #03a9f4;
}
.sass.Light-Blue-600 {
  background-color: #039be5;
}
.sass.Light-Blue-700 {
  background-color: #0288d1;
}
.sass.Light-Blue-800 {
  background-color: #0277bd;
}
.sass.Light-Blue-900 {
  background-color: #01579b;
}
.sass.Light-Blue-A100 {
  background-color: #80d8ff;
}
.sass.Light-Blue-A200 {
  background-color: #40c4ff;
}
.sass.Light-Blue-A400 {
  background-color: #00b0ff;
}
.sass.Light-Blue-A700 {
  background-color: #0091ea;
}
.sass.Cyan {
  background-color: #00bcd4;
}
.sass.Cyan-50 {
  background-color: #e0f7fa;
}
.sass.Cyan-100 {
  background-color: #b2ebf2;
}
.sass.Cyan-200 {
  background-color: #80deea;
}
.sass.Cyan-300 {
  background-color: #4dd0e1;
}
.sass.Cyan-400 {
  background-color: #26c6da;
}
.sass.Cyan-500 {
  background-color: #00bcd4;
}
.sass.Cyan-600 {
  background-color: #00acc1;
}
.sass.Cyan-700 {
  background-color: #0097a7;
}
.sass.Cyan-800 {
  background-color: #00838f;
}
.sass.Cyan-900 {
  background-color: #006064;
}
.sass.Cyan-A100 {
  background-color: #84ffff;
}
.sass.Cyan-A200 {
  background-color: #18ffff;
}
.sass.Cyan-A400 {
  background-color: #00e5ff;
}
.sass.Cyan-A700 {
  background-color: #00b8d4;
}
.sass.Teal {
  background-color: #009688;
}
.sass.Teal-50 {
  background-color: #e0f2f1;
}
.sass.Teal-100 {
  background-color: #b2dfdb;
}
.sass.Teal-200 {
  background-color: #80cbc4;
}
.sass.Teal-300 {
  background-color: #4db6ac;
}
.sass.Teal-400 {
  background-color: #26a69a;
}
.sass.Teal-500 {
  background-color: #009688;
}
.sass.Teal-600 {
  background-color: #00897b;
}
.sass.Teal-700 {
  background-color: #00796b;
}
.sass.Teal-800 {
  background-color: #00695c;
}
.sass.Teal-900 {
  background-color: #004d40;
}
.sass.Teal-A100 {
  background-color: #a7ffeb;
}
.sass.Teal-A200 {
  background-color: #64ffda;
}
.sass.Teal-A400 {
  background-color: #1de9b6;
}
.sass.Teal-A700 {
  background-color: #00bfa5;
}
.sass.Green {
  background-color: #259b24;
}
.sass.Green-50 {
  background-color: #d0f8ce;
}
.sass.Green-100 {
  background-color: #a3e9a4;
}
.sass.Green-200 {
  background-color: #72d572;
}
.sass.Green-300 {
  background-color: #42bd41;
}
.sass.Green-400 {
  background-color: #2baf2b;
}
.sass.Green-500 {
  background-color: #259b24;
}
.sass.Green-600 {
  background-color: #0a8f08;
}
.sass.Green-700 {
  background-color: #0a7e07;
}
.sass.Green-800 {
  background-color: #056f00;
}
.sass.Green-900 {
  background-color: #0d5302;
}
.sass.Green-A100 {
  background-color: #a2f78d;
}
.sass.Green-A200 {
  background-color: #5af158;
}
.sass.Green-A400 {
  background-color: #14e715;
}
.sass.Green-A700 {
  background-color: #12c700;
}
.sass.Light-Green {
  background-color: #8bc34a;
}
.sass.Light-Green-50 {
  background-color: #f1f8e9;
}
.sass.Light-Green-100 {
  background-color: #dcedc8;
}
.sass.Light-Green-200 {
  background-color: #c5e1a5;
}
.sass.Light-Green-300 {
  background-color: #aed581;
}
.sass.Light-Green-400 {
  background-color: #9ccc65;
}
.sass.Light-Green-500 {
  background-color: #8bc34a;
}
.sass.Light-Green-600 {
  background-color: #7cb342;
}
.sass.Light-Green-700 {
  background-color: #689f38;
}
.sass.Light-Green-800 {
  background-color: #558b2f;
}
.sass.Light-Green-900 {
  background-color: #33691e;
}
.sass.Light-Green-A100 {
  background-color: #ccff90;
}
.sass.Light-Green-A200 {
  background-color: #b2ff59;
}
.sass.Light-Green-A400 {
  background-color: #76ff03;
}
.sass.Light-Green-A700 {
  background-color: #64dd17;
}
.sass.Lime {
  background-color: #cddc39;
}
.sass.Lime-50 {
  background-color: #f9fbe7;
}
.sass.Lime-100 {
  background-color: #f0f4c3;
}
.sass.Lime-200 {
  background-color: #e6ee9c;
}
.sass.Lime-300 {
  background-color: #dce775;
}
.sass.Lime-400 {
  background-color: #d4e157;
}
.sass.Lime-500 {
  background-color: #cddc39;
}
.sass.Lime-600 {
  background-color: #c0ca33;
}
.sass.Lime-700 {
  background-color: #afb42b;
}
.sass.Lime-800 {
  background-color: #9e9d24;
}
.sass.Lime-900 {
  background-color: #827717;
}
.sass.Lime-A100 {
  background-color: #f4ff81;
}
.sass.Lime-A200 {
  background-color: #eeff41;
}
.sass.Lime-A400 {
  background-color: #c6ff00;
}
.sass.Lime-A700 {
  background-color: #aeea00;
}
.sass.Yellow {
  background-color: #ffeb3b;
}
.sass.Yellow-50 {
  background-color: #fffde7;
}
.sass.Yellow-100 {
  background-color: #fff9c4;
}
.sass.Yellow-200 {
  background-color: #fff59d;
}
.sass.Yellow-300 {
  background-color: #fff176;
}
.sass.Yellow-400 {
  background-color: #ffee58;
}
.sass.Yellow-500 {
  background-color: #ffeb3b;
}
.sass.Yellow-600 {
  background-color: #fdd835;
}
.sass.Yellow-700 {
  background-color: #fbc02d;
}
.sass.Yellow-800 {
  background-color: #f9a825;
}
.sass.Yellow-900 {
  background-color: #f57f17;
}
.sass.Yellow-A100 {
  background-color: #ffff8d;
}
.sass.Yellow-A200 {
  background-color: #ffff00;
}
.sass.Yellow-A400 {
  background-color: #ffea00;
}
.sass.Yellow-A700 {
  background-color: #ffd600;
}
.sass.Amber {
  background-color: #ffc107;
}
.sass.Amber-50 {
  background-color: #fff8e1;
}
.sass.Amber-100 {
  background-color: #ffecb3;
}
.sass.Amber-200 {
  background-color: #ffe082;
}
.sass.Amber-300 {
  background-color: #ffd54f;
}
.sass.Amber-400 {
  background-color: #ffca28;
}
.sass.Amber-500 {
  background-color: #ffc107;
}
.sass.Amber-600 {
  background-color: #ffb300;
}
.sass.Amber-700 {
  background-color: #ffa000;
}
.sass.Amber-800 {
  background-color: #ff8f00;
}
.sass.Amber-900 {
  background-color: #ff6f00;
}
.sass.Amber-A100 {
  background-color: #ffe57f;
}
.sass.Amber-A200 {
  background-color: #ffd740;
}
.sass.Amber-A400 {
  background-color: #ffc400;
}
.sass.Amber-A700 {
  background-color: #ffab00;
}
.sass.Orange {
  background-color: #ff9800;
}
.sass.Orange-50 {
  background-color: #fff3e0;
}
.sass.Orange-100 {
  background-color: #ffe0b2;
}
.sass.Orange-200 {
  background-color: #ffcc80;
}
.sass.Orange-300 {
  background-color: #ffb74d;
}
.sass.Orange-400 {
  background-color: #ffa726;
}
.sass.Orange-500 {
  background-color: #ff9800;
}
.sass.Orange-600 {
  background-color: #fb8c00;
}
.sass.Orange-700 {
  background-color: #f57c00;
}
.sass.Orange-800 {
  background-color: #ef6c00;
}
.sass.Orange-900 {
  background-color: #e65100;
}
.sass.Orange-A100 {
  background-color: #ffd180;
}
.sass.Orange-A200 {
  background-color: #ffab40;
}
.sass.Orange-A400 {
  background-color: #ff9100;
}
.sass.Orange-A700 {
  background-color: #ff6d00;
}
.sass.Deep-Orange {
  background-color: #ff5722;
}
.sass.Deep-Orange-50 {
  background-color: #fbe9e7;
}
.sass.Deep-Orange-100 {
  background-color: #ffccbc;
}
.sass.Deep-Orange-200 {
  background-color: #ffab91;
}
.sass.Deep-Orange-300 {
  background-color: #ff8a65;
}
.sass.Deep-Orange-400 {
  background-color: #ff7043;
}
.sass.Deep-Orange-500 {
  background-color: #ff5722;
}
.sass.Deep-Orange-600 {
  background-color: #f4511e;
}
.sass.Deep-Orange-700 {
  background-color: #e64a19;
}
.sass.Deep-Orange-800 {
  background-color: #d84315;
}
.sass.Deep-Orange-900 {
  background-color: #bf360c;
}
.sass.Deep-Orange-A100 {
  background-color: #ff9e80;
}
.sass.Deep-Orange-A200 {
  background-color: #ff6e40;
}
.sass.Deep-Orange-A400 {
  background-color: #ff3d00;
}
.sass.Deep-Orange-A700 {
  background-color: #dd2c00;
}
.sass.Brown {
  background-color: #795548;
}
.sass.Brown-50 {
  background-color: #efebe9;
}
.sass.Brown-100 {
  background-color: #d7ccc8;
}
.sass.Brown-200 {
  background-color: #bcaaa4;
}
.sass.Brown-300 {
  background-color: #a1887f;
}
.sass.Brown-400 {
  background-color: #8d6e63;
}
.sass.Brown-500 {
  background-color: #795548;
}
.sass.Brown-600 {
  background-color: #6d4c41;
}
.sass.Brown-700 {
  background-color: #5d4037;
}
.sass.Brown-800 {
  background-color: #4e342e;
}
.sass.Brown-900 {
  background-color: #3e2723;
}
.sass.Grey {
  background-color: #9e9e9e;
}
.sass.Grey-50 {
  background-color: #fafafa;
}
.sass.Grey-100 {
  background-color: #f5f5f5;
}
.sass.Grey-200 {
  background-color: #eeeeee;
}
.sass.Grey-300 {
  background-color: #e0e0e0;
}
.sass.Grey-400 {
  background-color: #bdbdbd;
}
.sass.Grey-500 {
  background-color: #9e9e9e;
}
.sass.Grey-600 {
  background-color: #757575;
}
.sass.Grey-700 {
  background-color: #616161;
}
.sass.Grey-800 {
  background-color: #424242;
}
.sass.Grey-900 {
  background-color: #212121;
}
.sass.Grey-1000 {
  background-color: #ffffff;
}
.sass.Blue-Grey {
  background-color: #607d8b;
}
.sass.Blue-Grey-50 {
  background-color: #eceff1;
}
.sass.Blue-Grey-100 {
  background-color: #cfd8dc;
}
.sass.Blue-Grey-200 {
  background-color: #b0bec5;
}
.sass.Blue-Grey-300 {
  background-color: #90a4ae;
}
.sass.Blue-Grey-400 {
  background-color: #78909c;
}
.sass.Blue-Grey-500 {
  background-color: #607d8b;
}
.sass.Blue-Grey-600 {
  background-color: #546e7a;
}
.sass.Blue-Grey-700 {
  background-color: #455a64;
}
.sass.Blue-Grey-800 {
  background-color: #37474f;
}
.sass.Blue-Grey-900 {
  background-color: #263238;
}
