.stylus.Red {
  background-color: #f44336;
  color: #fff;
}
.stylus.Red-50 {
  background-color: #ffebee;
  color: rgba(0,0,0,0.87);
}
.stylus.Red-100 {
  background-color: #ffcdd2;
  color: rgba(0,0,0,0.87);
}
.stylus.Red-200 {
  background-color: #ef9a9a;
  color: rgba(0,0,0,0.87);
}
.stylus.Red-300 {
  background-color: #e57373;
  color: rgba(0,0,0,0.87);
}
.stylus.Red-400 {
  background-color: #ef5350;
  color: #fff;
}
.stylus.Red-500 {
  background-color: #f44336;
  color: #fff;
}
.stylus.Red-600 {
  background-color: #e53935;
  color: #fff;
}
.stylus.Red-700 {
  background-color: #d32f2f;
  color: #fff;
}
.stylus.Red-800 {
  background-color: #c62828;
  color: #fff;
}
.stylus.Red-900 {
  background-color: #b71c1c;
  color: #fff;
}
.stylus.Red-A100 {
  background-color: #ff8a80;
  color: rgba(0,0,0,0.87);
}
.stylus.Red-A200 {
  background-color: #ff5252;
  color: #fff;
}
.stylus.Red-A400 {
  background-color: #ff1744;
  color: #fff;
}
.stylus.Red-A700 {
  background-color: #d50000;
  color: #fff;
}
.stylus.Pink {
  background-color: #e91e63;
  color: #fff;
}
.stylus.Pink-50 {
  background-color: #fce4ec;
  color: rgba(0,0,0,0.87);
}
.stylus.Pink-100 {
  background-color: #f8bbd0;
  color: rgba(0,0,0,0.87);
}
.stylus.Pink-200 {
  background-color: #f48fb1;
  color: rgba(0,0,0,0.87);
}
.stylus.Pink-300 {
  background-color: #f06292;
  color: #fff;
}
.stylus.Pink-400 {
  background-color: #ec407a;
  color: #fff;
}
.stylus.Pink-500 {
  background-color: #e91e63;
  color: #fff;
}
.stylus.Pink-600 {
  background-color: #d81b60;
  color: #fff;
}
.stylus.Pink-700 {
  background-color: #c2185b;
  color: #fff;
}
.stylus.Pink-800 {
  background-color: #ad1457;
  color: #fff;
}
.stylus.Pink-900 {
  background-color: #880e4f;
  color: #fff;
}
.stylus.Pink-A100 {
  background-color: #ff80ab;
  color: rgba(0,0,0,0.87);
}
.stylus.Pink-A200 {
  background-color: #ff4081;
  color: #fff;
}
.stylus.Pink-A400 {
  background-color: #f50057;
  color: #fff;
}
.stylus.Pink-A700 {
  background-color: #c51162;
  color: #fff;
}
.stylus.Purple {
  background-color: #9c27b0;
  color: #fff;
}
.stylus.Purple-50 {
  background-color: #f3e5f5;
  color: rgba(0,0,0,0.87);
}
.stylus.Purple-100 {
  background-color: #e1bee7;
  color: rgba(0,0,0,0.87);
}
.stylus.Purple-200 {
  background-color: #ce93d8;
  color: rgba(0,0,0,0.87);
}
.stylus.Purple-300 {
  background-color: #ba68c8;
  color: #fff;
}
.stylus.Purple-400 {
  background-color: #ab47bc;
  color: #fff;
}
.stylus.Purple-500 {
  background-color: #9c27b0;
  color: #fff;
}
.stylus.Purple-600 {
  background-color: #8e24aa;
  color: #fff;
}
.stylus.Purple-700 {
  background-color: #7b1fa2;
  color: #fff;
}
.stylus.Purple-800 {
  background-color: #6a1b9a;
  color: #fff;
}
.stylus.Purple-900 {
  background-color: #4a148c;
  color: #fff;
}
.stylus.Purple-A100 {
  background-color: #ea80fc;
  color: rgba(0,0,0,0.87);
}
.stylus.Purple-A200 {
  background-color: #e040fb;
  color: #fff;
}
.stylus.Purple-A400 {
  background-color: #d500f9;
  color: #fff;
}
.stylus.Purple-A700 {
  background-color: #a0f;
  color: #fff;
}
.stylus.Deep-Purple {
  background-color: #673ab7;
  color: #fff;
}
.stylus.Deep-Purple-50 {
  background-color: #ede7f6;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Purple-100 {
  background-color: #d1c4e9;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Purple-200 {
  background-color: #b39ddb;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Purple-300 {
  background-color: #9575cd;
  color: #fff;
}
.stylus.Deep-Purple-400 {
  background-color: #7e57c2;
  color: #fff;
}
.stylus.Deep-Purple-500 {
  background-color: #673ab7;
  color: #fff;
}
.stylus.Deep-Purple-600 {
  background-color: #5e35b1;
  color: #fff;
}
.stylus.Deep-Purple-700 {
  background-color: #512da8;
  color: #fff;
}
.stylus.Deep-Purple-800 {
  background-color: #4527a0;
  color: #fff;
}
.stylus.Deep-Purple-900 {
  background-color: #311b92;
  color: #fff;
}
.stylus.Deep-Purple-A100 {
  background-color: #b388ff;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Purple-A200 {
  background-color: #7c4dff;
  color: #fff;
}
.stylus.Deep-Purple-A400 {
  background-color: #651fff;
  color: #fff;
}
.stylus.Deep-Purple-A700 {
  background-color: #6200ea;
  color: #fff;
}
.stylus.Indigo {
  background-color: #3f51b5;
  color: #fff;
}
.stylus.Indigo-50 {
  background-color: #e8eaf6;
  color: rgba(0,0,0,0.87);
}
.stylus.Indigo-100 {
  background-color: #c5cae9;
  color: rgba(0,0,0,0.87);
}
.stylus.Indigo-200 {
  background-color: #9fa8da;
  color: rgba(0,0,0,0.87);
}
.stylus.Indigo-300 {
  background-color: #7986cb;
  color: #fff;
}
.stylus.Indigo-400 {
  background-color: #5c6bc0;
  color: #fff;
}
.stylus.Indigo-500 {
  background-color: #3f51b5;
  color: #fff;
}
.stylus.Indigo-600 {
  background-color: #3949ab;
  color: #fff;
}
.stylus.Indigo-700 {
  background-color: #303f9f;
  color: #fff;
}
.stylus.Indigo-800 {
  background-color: #283593;
  color: #fff;
}
.stylus.Indigo-900 {
  background-color: #1a237e;
  color: #fff;
}
.stylus.Indigo-A100 {
  background-color: #8c9eff;
  color: rgba(0,0,0,0.87);
}
.stylus.Indigo-A200 {
  background-color: #536dfe;
  color: #fff;
}
.stylus.Indigo-A400 {
  background-color: #3d5afe;
  color: #fff;
}
.stylus.Indigo-A700 {
  background-color: #304ffe;
  color: #fff;
}
.stylus.Blue {
  background-color: #2196f3;
  color: #fff;
}
.stylus.Blue-50 {
  background-color: #e3f2fd;
  color: rgba(0,0,0,0.87);
}
.stylus.Blue-100 {
  background-color: #bbdefb;
  color: rgba(0,0,0,0.87);
}
.stylus.Blue-200 {
  background-color: #90caf9;
  color: rgba(0,0,0,0.87);
}
.stylus.Blue-300 {
  background-color: #64b5f6;
  color: rgba(0,0,0,0.87);
}
.stylus.Blue-400 {
  background-color: #42a5f5;
  color: rgba(0,0,0,0.87);
}
.stylus.Blue-500 {
  background-color: #2196f3;
  color: #fff;
}
.stylus.Blue-600 {
  background-color: #1e88e5;
  color: #fff;
}
.stylus.Blue-700 {
  background-color: #1976d2;
  color: #fff;
}
.stylus.Blue-800 {
  background-color: #1565c0;
  color: #fff;
}
.stylus.Blue-900 {
  background-color: #0d47a1;
  color: #fff;
}
.stylus.Blue-A100 {
  background-color: #82b1ff;
  color: rgba(0,0,0,0.87);
}
.stylus.Blue-A200 {
  background-color: #448aff;
  color: #fff;
}
.stylus.Blue-A400 {
  background-color: #2979ff;
  color: #fff;
}
.stylus.Blue-A700 {
  background-color: #2962ff;
  color: #fff;
}
.stylus.Light-Blue {
  background-color: #03a9f4;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Blue-50 {
  background-color: #e1f5fe;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Blue-100 {
  background-color: #b3e5fc;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Blue-200 {
  background-color: #81d4fa;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Blue-300 {
  background-color: #4fc3f7;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Blue-400 {
  background-color: #29b6f6;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Blue-500 {
  background-color: #03a9f4;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Blue-600 {
  background-color: #039be5;
  color: #fff;
}
.stylus.Light-Blue-700 {
  background-color: #0288d1;
  color: #fff;
}
.stylus.Light-Blue-800 {
  background-color: #0277bd;
  color: #fff;
}
.stylus.Light-Blue-900 {
  background-color: #01579b;
  color: #fff;
}
.stylus.Light-Blue-A100 {
  background-color: #80d8ff;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Blue-A200 {
  background-color: #40c4ff;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Blue-A400 {
  background-color: #00b0ff;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Blue-A700 {
  background-color: #0091ea;
  color: #fff;
}
.stylus.Cyan {
  background-color: #00bcd4;
  color: rgba(0,0,0,0.87);
}
.stylus.Cyan-50 {
  background-color: #e0f7fa;
  color: rgba(0,0,0,0.87);
}
.stylus.Cyan-100 {
  background-color: #b2ebf2;
  color: rgba(0,0,0,0.87);
}
.stylus.Cyan-200 {
  background-color: #80deea;
  color: rgba(0,0,0,0.87);
}
.stylus.Cyan-300 {
  background-color: #4dd0e1;
  color: rgba(0,0,0,0.87);
}
.stylus.Cyan-400 {
  background-color: #26c6da;
  color: rgba(0,0,0,0.87);
}
.stylus.Cyan-500 {
  background-color: #00bcd4;
  color: rgba(0,0,0,0.87);
}
.stylus.Cyan-600 {
  background-color: #00acc1;
  color: rgba(0,0,0,0.87);
}
.stylus.Cyan-700 {
  background-color: #0097a7;
  color: #fff;
}
.stylus.Cyan-800 {
  background-color: #00838f;
  color: #fff;
}
.stylus.Cyan-900 {
  background-color: #006064;
  color: #fff;
}
.stylus.Cyan-A100 {
  background-color: #84ffff;
  color: rgba(0,0,0,0.87);
}
.stylus.Cyan-A200 {
  background-color: #18ffff;
  color: rgba(0,0,0,0.87);
}
.stylus.Cyan-A400 {
  background-color: #00e5ff;
  color: rgba(0,0,0,0.87);
}
.stylus.Cyan-A700 {
  background-color: #00b8d4;
  color: rgba(0,0,0,0.87);
}
.stylus.Teal {
  background-color: #009688;
  color: #fff;
}
.stylus.Teal-50 {
  background-color: #e0f2f1;
  color: rgba(0,0,0,0.87);
}
.stylus.Teal-100 {
  background-color: #b2dfdb;
  color: rgba(0,0,0,0.87);
}
.stylus.Teal-200 {
  background-color: #80cbc4;
  color: rgba(0,0,0,0.87);
}
.stylus.Teal-300 {
  background-color: #4db6ac;
  color: rgba(0,0,0,0.87);
}
.stylus.Teal-400 {
  background-color: #26a69a;
  color: rgba(0,0,0,0.87);
}
.stylus.Teal-500 {
  background-color: #009688;
  color: #fff;
}
.stylus.Teal-600 {
  background-color: #00897b;
  color: #fff;
}
.stylus.Teal-700 {
  background-color: #00796b;
  color: #fff;
}
.stylus.Teal-800 {
  background-color: #00695c;
  color: #fff;
}
.stylus.Teal-900 {
  background-color: #004d40;
  color: #fff;
}
.stylus.Teal-A100 {
  background-color: #a7ffeb;
  color: rgba(0,0,0,0.87);
}
.stylus.Teal-A200 {
  background-color: #64ffda;
  color: rgba(0,0,0,0.87);
}
.stylus.Teal-A400 {
  background-color: #1de9b6;
  color: rgba(0,0,0,0.87);
}
.stylus.Teal-A700 {
  background-color: #00bfa5;
  color: rgba(0,0,0,0.87);
}
.stylus.Green {
  background-color: #4caf50;
  color: rgba(0,0,0,0.87);
}
.stylus.Green-50 {
  background-color: #e8f5e9;
  color: rgba(0,0,0,0.87);
}
.stylus.Green-100 {
  background-color: #c8e6c9;
  color: rgba(0,0,0,0.87);
}
.stylus.Green-200 {
  background-color: #a5d6a7;
  color: rgba(0,0,0,0.87);
}
.stylus.Green-300 {
  background-color: #81c784;
  color: rgba(0,0,0,0.87);
}
.stylus.Green-400 {
  background-color: #66bb6a;
  color: rgba(0,0,0,0.87);
}
.stylus.Green-500 {
  background-color: #4caf50;
  color: rgba(0,0,0,0.87);
}
.stylus.Green-600 {
  background-color: #43a047;
  color: #fff;
}
.stylus.Green-700 {
  background-color: #388e3c;
  color: #fff;
}
.stylus.Green-800 {
  background-color: #2e7d32;
  color: #fff;
}
.stylus.Green-900 {
  background-color: #1b5e20;
  color: #fff;
}
.stylus.Green-A100 {
  background-color: #b9f6ca;
  color: rgba(0,0,0,0.87);
}
.stylus.Green-A200 {
  background-color: #69f0ae;
  color: rgba(0,0,0,0.87);
}
.stylus.Green-A400 {
  background-color: #00e676;
  color: rgba(0,0,0,0.87);
}
.stylus.Green-A700 {
  background-color: #00c853;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green {
  background-color: #8bc34a;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green-50 {
  background-color: #f1f8e9;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green-100 {
  background-color: #dcedc8;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green-200 {
  background-color: #c5e1a5;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green-300 {
  background-color: #aed581;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green-400 {
  background-color: #9ccc65;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green-500 {
  background-color: #8bc34a;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green-600 {
  background-color: #7cb342;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green-700 {
  background-color: #689f38;
  color: #fff;
}
.stylus.Light-Green-800 {
  background-color: #558b2f;
  color: #fff;
}
.stylus.Light-Green-900 {
  background-color: #33691e;
  color: #fff;
}
.stylus.Light-Green-A100 {
  background-color: #ccff90;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green-A200 {
  background-color: #b2ff59;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green-A400 {
  background-color: #76ff03;
  color: rgba(0,0,0,0.87);
}
.stylus.Light-Green-A700 {
  background-color: #64dd17;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime {
  background-color: #cddc39;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-50 {
  background-color: #f9fbe7;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-100 {
  background-color: #f0f4c3;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-200 {
  background-color: #e6ee9c;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-300 {
  background-color: #dce775;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-400 {
  background-color: #d4e157;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-500 {
  background-color: #cddc39;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-600 {
  background-color: #c0ca33;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-700 {
  background-color: #afb42b;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-800 {
  background-color: #9e9d24;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-900 {
  background-color: #827717;
  color: #fff;
}
.stylus.Lime-A100 {
  background-color: #f4ff81;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-A200 {
  background-color: #eeff41;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-A400 {
  background-color: #c6ff00;
  color: rgba(0,0,0,0.87);
}
.stylus.Lime-A700 {
  background-color: #aeea00;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow {
  background-color: #ffeb3b;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-50 {
  background-color: #fffde7;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-100 {
  background-color: #fff9c4;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-200 {
  background-color: #fff59d;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-300 {
  background-color: #fff176;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-400 {
  background-color: #ffee58;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-500 {
  background-color: #ffeb3b;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-600 {
  background-color: #fdd835;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-700 {
  background-color: #fbc02d;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-800 {
  background-color: #f9a825;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-900 {
  background-color: #f57f17;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-A100 {
  background-color: #ffff8d;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-A200 {
  background-color: #ff0;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-A400 {
  background-color: #ffea00;
  color: rgba(0,0,0,0.87);
}
.stylus.Yellow-A700 {
  background-color: #ffd600;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber {
  background-color: #ffc107;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-50 {
  background-color: #fff8e1;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-100 {
  background-color: #ffecb3;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-200 {
  background-color: #ffe082;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-300 {
  background-color: #ffd54f;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-400 {
  background-color: #ffca28;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-500 {
  background-color: #ffc107;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-600 {
  background-color: #ffb300;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-700 {
  background-color: #ffa000;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-800 {
  background-color: #ff8f00;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-900 {
  background-color: #ff6f00;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-A100 {
  background-color: #ffe57f;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-A200 {
  background-color: #ffd740;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-A400 {
  background-color: #ffc400;
  color: rgba(0,0,0,0.87);
}
.stylus.Amber-A700 {
  background-color: #ffab00;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange {
  background-color: #ff9800;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-50 {
  background-color: #fff3e0;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-100 {
  background-color: #ffe0b2;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-200 {
  background-color: #ffcc80;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-300 {
  background-color: #ffb74d;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-400 {
  background-color: #ffa726;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-500 {
  background-color: #ff9800;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-600 {
  background-color: #fb8c00;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-700 {
  background-color: #f57c00;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-800 {
  background-color: #ef6c00;
  color: #fff;
}
.stylus.Orange-900 {
  background-color: #e65100;
  color: #fff;
}
.stylus.Orange-A100 {
  background-color: #ffd180;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-A200 {
  background-color: #ffab40;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-A400 {
  background-color: #ff9100;
  color: rgba(0,0,0,0.87);
}
.stylus.Orange-A700 {
  background-color: #ff6d00;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Orange {
  background-color: #ff5722;
  color: #fff;
}
.stylus.Deep-Orange-50 {
  background-color: #fbe9e7;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Orange-100 {
  background-color: #ffccbc;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Orange-200 {
  background-color: #ffab91;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Orange-300 {
  background-color: #ff8a65;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Orange-400 {
  background-color: #ff7043;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Orange-500 {
  background-color: #ff5722;
  color: #fff;
}
.stylus.Deep-Orange-600 {
  background-color: #f4511e;
  color: #fff;
}
.stylus.Deep-Orange-700 {
  background-color: #e64a19;
  color: #fff;
}
.stylus.Deep-Orange-800 {
  background-color: #d84315;
  color: #fff;
}
.stylus.Deep-Orange-900 {
  background-color: #bf360c;
  color: #fff;
}
.stylus.Deep-Orange-A100 {
  background-color: #ff9e80;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Orange-A200 {
  background-color: #ff6e40;
  color: rgba(0,0,0,0.87);
}
.stylus.Deep-Orange-A400 {
  background-color: #ff3d00;
  color: #fff;
}
.stylus.Deep-Orange-A700 {
  background-color: #dd2c00;
  color: #fff;
}
.stylus.Brown {
  background-color: #795548;
  color: #fff;
}
.stylus.Brown-50 {
  background-color: #efebe9;
  color: rgba(0,0,0,0.87);
}
.stylus.Brown-100 {
  background-color: #d7ccc8;
  color: rgba(0,0,0,0.87);
}
.stylus.Brown-200 {
  background-color: #bcaaa4;
  color: rgba(0,0,0,0.87);
}
.stylus.Brown-300 {
  background-color: #a1887f;
  color: #fff;
}
.stylus.Brown-400 {
  background-color: #8d6e63;
  color: #fff;
}
.stylus.Brown-500 {
  background-color: #795548;
  color: #fff;
}
.stylus.Brown-600 {
  background-color: #6d4c41;
  color: #fff;
}
.stylus.Brown-700 {
  background-color: #5d4037;
  color: #fff;
}
.stylus.Brown-800 {
  background-color: #4e342e;
  color: #fff;
}
.stylus.Brown-900 {
  background-color: #3e2723;
  color: #fff;
}
.stylus.Grey {
  background-color: #9e9e9e;
  color: rgba(0,0,0,0.87);
}
.stylus.Grey-50 {
  background-color: #fafafa;
  color: rgba(0,0,0,0.87);
}
.stylus.Grey-100 {
  background-color: #f5f5f5;
  color: rgba(0,0,0,0.87);
}
.stylus.Grey-200 {
  background-color: #eee;
  color: rgba(0,0,0,0.87);
}
.stylus.Grey-300 {
  background-color: #e0e0e0;
  color: rgba(0,0,0,0.87);
}
.stylus.Grey-400 {
  background-color: #bdbdbd;
  color: rgba(0,0,0,0.87);
}
.stylus.Grey-500 {
  background-color: #9e9e9e;
  color: rgba(0,0,0,0.87);
}
.stylus.Grey-600 {
  background-color: #757575;
  color: #fff;
}
.stylus.Grey-700 {
  background-color: #616161;
  color: #fff;
}
.stylus.Grey-800 {
  background-color: #424242;
  color: #fff;
}
.stylus.Grey-900 {
  background-color: #212121;
  color: #fff;
}
.stylus.Blue-Grey {
  background-color: #607d8b;
  color: #fff;
}
.stylus.Blue-Grey-50 {
  background-color: #eceff1;
  color: rgba(0,0,0,0.87);
}
.stylus.Blue-Grey-100 {
  background-color: #cfd8dc;
  color: rgba(0,0,0,0.87);
}
.stylus.Blue-Grey-200 {
  background-color: #b0bec5;
  color: rgba(0,0,0,0.87);
}
.stylus.Blue-Grey-300 {
  background-color: #90a4ae;
  color: rgba(0,0,0,0.87);
}
.stylus.Blue-Grey-400 {
  background-color: #78909c;
  color: #fff;
}
.stylus.Blue-Grey-500 {
  background-color: #607d8b;
  color: #fff;
}
.stylus.Blue-Grey-600 {
  background-color: #546e7a;
  color: #fff;
}
.stylus.Blue-Grey-700 {
  background-color: #455a64;
  color: #fff;
}
.stylus.Blue-Grey-800 {
  background-color: #37474f;
  color: #fff;
}
.stylus.Blue-Grey-900 {
  background-color: #263238;
  color: #fff;
}
.stylus.Black {
  background-color: #000;
  color: #fff;
}
.stylus.Black-500 {
  background-color: #000;
  color: #fff;
}
.stylus.Black-text {
  background-color: rgba(0,0,0,0.87);
  color: #fff;
}
.stylus.Black-Primary {
  background-color: rgba(0,0,0,0.87);
  color: #fff;
}
.stylus.Black-Secondary-text {
  background-color: rgba(0,0,0,0.54);
  color: #fff;
}
.stylus.Black-Icons {
  background-color: rgba(0,0,0,0.38);
  color: #fff;
}
.stylus.Black-Disabled {
  background-color: rgba(0,0,0,0.38);
  color: #fff;
}
.stylus.Black-Hint-text {
  background-color: rgba(0,0,0,0.38);
  color: #fff;
}
.stylus.Black-Dividers {
  background-color: rgba(0,0,0,0.12);
  color: #fff;
}
.stylus.White {
  background-color: #fff;
  color: rgba(0,0,0,0.87);
}
.stylus.White-500 {
  background-color: #fff;
  color: rgba(0,0,0,0.87);
}
.stylus.White-text {
  background-color: #fff;
  color: #fff;
}
.stylus.White-Primary {
  background-color: #fff;
  color: rgba(0,0,0,0.87);
}
.stylus.White-Secondary-text {
  background-color: rgba(255,255,255,0.7);
  color: rgba(0,0,0,0.87);
}
.stylus.White-Icons {
  background-color: rgba(255,255,255,0.5);
  color: rgba(0,0,0,0.87);
}
.stylus.White-Disabled {
  background-color: rgba(255,255,255,0.5);
  color: rgba(0,0,0,0.87);
}
.stylus.White-Hint-text {
  background-color: rgba(255,255,255,0.5);
  color: rgba(0,0,0,0.87);
}
.stylus.White-Dividers {
  background-color: rgba(255,255,255,0.12);
  color: rgba(0,0,0,0.87);
}
.stylus-text.Red {
  color: #f44336;
}
.stylus-text.Red-50 {
  color: #ffebee;
}
.stylus-text.Red-100 {
  color: #ffcdd2;
}
.stylus-text.Red-200 {
  color: #ef9a9a;
}
.stylus-text.Red-300 {
  color: #e57373;
}
.stylus-text.Red-400 {
  color: #ef5350;
}
.stylus-text.Red-500 {
  color: #f44336;
}
.stylus-text.Red-600 {
  color: #e53935;
}
.stylus-text.Red-700 {
  color: #d32f2f;
}
.stylus-text.Red-800 {
  color: #c62828;
}
.stylus-text.Red-900 {
  color: #b71c1c;
}
.stylus-text.Red-A100 {
  color: #ff8a80;
}
.stylus-text.Red-A200 {
  color: #ff5252;
}
.stylus-text.Red-A400 {
  color: #ff1744;
}
.stylus-text.Red-A700 {
  color: #d50000;
}
.stylus-text.Pink {
  color: #e91e63;
}
.stylus-text.Pink-50 {
  color: #fce4ec;
}
.stylus-text.Pink-100 {
  color: #f8bbd0;
}
.stylus-text.Pink-200 {
  color: #f48fb1;
}
.stylus-text.Pink-300 {
  color: #f06292;
}
.stylus-text.Pink-400 {
  color: #ec407a;
}
.stylus-text.Pink-500 {
  color: #e91e63;
}
.stylus-text.Pink-600 {
  color: #d81b60;
}
.stylus-text.Pink-700 {
  color: #c2185b;
}
.stylus-text.Pink-800 {
  color: #ad1457;
}
.stylus-text.Pink-900 {
  color: #880e4f;
}
.stylus-text.Pink-A100 {
  color: #ff80ab;
}
.stylus-text.Pink-A200 {
  color: #ff4081;
}
.stylus-text.Pink-A400 {
  color: #f50057;
}
.stylus-text.Pink-A700 {
  color: #c51162;
}
.stylus-text.Purple {
  color: #9c27b0;
}
.stylus-text.Purple-50 {
  color: #f3e5f5;
}
.stylus-text.Purple-100 {
  color: #e1bee7;
}
.stylus-text.Purple-200 {
  color: #ce93d8;
}
.stylus-text.Purple-300 {
  color: #ba68c8;
}
.stylus-text.Purple-400 {
  color: #ab47bc;
}
.stylus-text.Purple-500 {
  color: #9c27b0;
}
.stylus-text.Purple-600 {
  color: #8e24aa;
}
.stylus-text.Purple-700 {
  color: #7b1fa2;
}
.stylus-text.Purple-800 {
  color: #6a1b9a;
}
.stylus-text.Purple-900 {
  color: #4a148c;
}
.stylus-text.Purple-A100 {
  color: #ea80fc;
}
.stylus-text.Purple-A200 {
  color: #e040fb;
}
.stylus-text.Purple-A400 {
  color: #d500f9;
}
.stylus-text.Purple-A700 {
  color: #a0f;
}
.stylus-text.Deep-Purple {
  color: #673ab7;
}
.stylus-text.Deep-Purple-50 {
  color: #ede7f6;
}
.stylus-text.Deep-Purple-100 {
  color: #d1c4e9;
}
.stylus-text.Deep-Purple-200 {
  color: #b39ddb;
}
.stylus-text.Deep-Purple-300 {
  color: #9575cd;
}
.stylus-text.Deep-Purple-400 {
  color: #7e57c2;
}
.stylus-text.Deep-Purple-500 {
  color: #673ab7;
}
.stylus-text.Deep-Purple-600 {
  color: #5e35b1;
}
.stylus-text.Deep-Purple-700 {
  color: #512da8;
}
.stylus-text.Deep-Purple-800 {
  color: #4527a0;
}
.stylus-text.Deep-Purple-900 {
  color: #311b92;
}
.stylus-text.Deep-Purple-A100 {
  color: #b388ff;
}
.stylus-text.Deep-Purple-A200 {
  color: #7c4dff;
}
.stylus-text.Deep-Purple-A400 {
  color: #651fff;
}
.stylus-text.Deep-Purple-A700 {
  color: #6200ea;
}
.stylus-text.Indigo {
  color: #3f51b5;
}
.stylus-text.Indigo-50 {
  color: #e8eaf6;
}
.stylus-text.Indigo-100 {
  color: #c5cae9;
}
.stylus-text.Indigo-200 {
  color: #9fa8da;
}
.stylus-text.Indigo-300 {
  color: #7986cb;
}
.stylus-text.Indigo-400 {
  color: #5c6bc0;
}
.stylus-text.Indigo-500 {
  color: #3f51b5;
}
.stylus-text.Indigo-600 {
  color: #3949ab;
}
.stylus-text.Indigo-700 {
  color: #303f9f;
}
.stylus-text.Indigo-800 {
  color: #283593;
}
.stylus-text.Indigo-900 {
  color: #1a237e;
}
.stylus-text.Indigo-A100 {
  color: #8c9eff;
}
.stylus-text.Indigo-A200 {
  color: #536dfe;
}
.stylus-text.Indigo-A400 {
  color: #3d5afe;
}
.stylus-text.Indigo-A700 {
  color: #304ffe;
}
.stylus-text.Blue {
  color: #2196f3;
}
.stylus-text.Blue-50 {
  color: #e3f2fd;
}
.stylus-text.Blue-100 {
  color: #bbdefb;
}
.stylus-text.Blue-200 {
  color: #90caf9;
}
.stylus-text.Blue-300 {
  color: #64b5f6;
}
.stylus-text.Blue-400 {
  color: #42a5f5;
}
.stylus-text.Blue-500 {
  color: #2196f3;
}
.stylus-text.Blue-600 {
  color: #1e88e5;
}
.stylus-text.Blue-700 {
  color: #1976d2;
}
.stylus-text.Blue-800 {
  color: #1565c0;
}
.stylus-text.Blue-900 {
  color: #0d47a1;
}
.stylus-text.Blue-A100 {
  color: #82b1ff;
}
.stylus-text.Blue-A200 {
  color: #448aff;
}
.stylus-text.Blue-A400 {
  color: #2979ff;
}
.stylus-text.Blue-A700 {
  color: #2962ff;
}
.stylus-text.Light-Blue {
  color: #03a9f4;
}
.stylus-text.Light-Blue-50 {
  color: #e1f5fe;
}
.stylus-text.Light-Blue-100 {
  color: #b3e5fc;
}
.stylus-text.Light-Blue-200 {
  color: #81d4fa;
}
.stylus-text.Light-Blue-300 {
  color: #4fc3f7;
}
.stylus-text.Light-Blue-400 {
  color: #29b6f6;
}
.stylus-text.Light-Blue-500 {
  color: #03a9f4;
}
.stylus-text.Light-Blue-600 {
  color: #039be5;
}
.stylus-text.Light-Blue-700 {
  color: #0288d1;
}
.stylus-text.Light-Blue-800 {
  color: #0277bd;
}
.stylus-text.Light-Blue-900 {
  color: #01579b;
}
.stylus-text.Light-Blue-A100 {
  color: #80d8ff;
}
.stylus-text.Light-Blue-A200 {
  color: #40c4ff;
}
.stylus-text.Light-Blue-A400 {
  color: #00b0ff;
}
.stylus-text.Light-Blue-A700 {
  color: #0091ea;
}
.stylus-text.Cyan {
  color: #00bcd4;
}
.stylus-text.Cyan-50 {
  color: #e0f7fa;
}
.stylus-text.Cyan-100 {
  color: #b2ebf2;
}
.stylus-text.Cyan-200 {
  color: #80deea;
}
.stylus-text.Cyan-300 {
  color: #4dd0e1;
}
.stylus-text.Cyan-400 {
  color: #26c6da;
}
.stylus-text.Cyan-500 {
  color: #00bcd4;
}
.stylus-text.Cyan-600 {
  color: #00acc1;
}
.stylus-text.Cyan-700 {
  color: #0097a7;
}
.stylus-text.Cyan-800 {
  color: #00838f;
}
.stylus-text.Cyan-900 {
  color: #006064;
}
.stylus-text.Cyan-A100 {
  color: #84ffff;
}
.stylus-text.Cyan-A200 {
  color: #18ffff;
}
.stylus-text.Cyan-A400 {
  color: #00e5ff;
}
.stylus-text.Cyan-A700 {
  color: #00b8d4;
}
.stylus-text.Teal {
  color: #009688;
}
.stylus-text.Teal-50 {
  color: #e0f2f1;
}
.stylus-text.Teal-100 {
  color: #b2dfdb;
}
.stylus-text.Teal-200 {
  color: #80cbc4;
}
.stylus-text.Teal-300 {
  color: #4db6ac;
}
.stylus-text.Teal-400 {
  color: #26a69a;
}
.stylus-text.Teal-500 {
  color: #009688;
}
.stylus-text.Teal-600 {
  color: #00897b;
}
.stylus-text.Teal-700 {
  color: #00796b;
}
.stylus-text.Teal-800 {
  color: #00695c;
}
.stylus-text.Teal-900 {
  color: #004d40;
}
.stylus-text.Teal-A100 {
  color: #a7ffeb;
}
.stylus-text.Teal-A200 {
  color: #64ffda;
}
.stylus-text.Teal-A400 {
  color: #1de9b6;
}
.stylus-text.Teal-A700 {
  color: #00bfa5;
}
.stylus-text.Green {
  color: #4caf50;
}
.stylus-text.Green-50 {
  color: #e8f5e9;
}
.stylus-text.Green-100 {
  color: #c8e6c9;
}
.stylus-text.Green-200 {
  color: #a5d6a7;
}
.stylus-text.Green-300 {
  color: #81c784;
}
.stylus-text.Green-400 {
  color: #66bb6a;
}
.stylus-text.Green-500 {
  color: #4caf50;
}
.stylus-text.Green-600 {
  color: #43a047;
}
.stylus-text.Green-700 {
  color: #388e3c;
}
.stylus-text.Green-800 {
  color: #2e7d32;
}
.stylus-text.Green-900 {
  color: #1b5e20;
}
.stylus-text.Green-A100 {
  color: #b9f6ca;
}
.stylus-text.Green-A200 {
  color: #69f0ae;
}
.stylus-text.Green-A400 {
  color: #00e676;
}
.stylus-text.Green-A700 {
  color: #00c853;
}
.stylus-text.Light-Green {
  color: #8bc34a;
}
.stylus-text.Light-Green-50 {
  color: #f1f8e9;
}
.stylus-text.Light-Green-100 {
  color: #dcedc8;
}
.stylus-text.Light-Green-200 {
  color: #c5e1a5;
}
.stylus-text.Light-Green-300 {
  color: #aed581;
}
.stylus-text.Light-Green-400 {
  color: #9ccc65;
}
.stylus-text.Light-Green-500 {
  color: #8bc34a;
}
.stylus-text.Light-Green-600 {
  color: #7cb342;
}
.stylus-text.Light-Green-700 {
  color: #689f38;
}
.stylus-text.Light-Green-800 {
  color: #558b2f;
}
.stylus-text.Light-Green-900 {
  color: #33691e;
}
.stylus-text.Light-Green-A100 {
  color: #ccff90;
}
.stylus-text.Light-Green-A200 {
  color: #b2ff59;
}
.stylus-text.Light-Green-A400 {
  color: #76ff03;
}
.stylus-text.Light-Green-A700 {
  color: #64dd17;
}
.stylus-text.Lime {
  color: #cddc39;
}
.stylus-text.Lime-50 {
  color: #f9fbe7;
}
.stylus-text.Lime-100 {
  color: #f0f4c3;
}
.stylus-text.Lime-200 {
  color: #e6ee9c;
}
.stylus-text.Lime-300 {
  color: #dce775;
}
.stylus-text.Lime-400 {
  color: #d4e157;
}
.stylus-text.Lime-500 {
  color: #cddc39;
}
.stylus-text.Lime-600 {
  color: #c0ca33;
}
.stylus-text.Lime-700 {
  color: #afb42b;
}
.stylus-text.Lime-800 {
  color: #9e9d24;
}
.stylus-text.Lime-900 {
  color: #827717;
}
.stylus-text.Lime-A100 {
  color: #f4ff81;
}
.stylus-text.Lime-A200 {
  color: #eeff41;
}
.stylus-text.Lime-A400 {
  color: #c6ff00;
}
.stylus-text.Lime-A700 {
  color: #aeea00;
}
.stylus-text.Yellow {
  color: #ffeb3b;
}
.stylus-text.Yellow-50 {
  color: #fffde7;
}
.stylus-text.Yellow-100 {
  color: #fff9c4;
}
.stylus-text.Yellow-200 {
  color: #fff59d;
}
.stylus-text.Yellow-300 {
  color: #fff176;
}
.stylus-text.Yellow-400 {
  color: #ffee58;
}
.stylus-text.Yellow-500 {
  color: #ffeb3b;
}
.stylus-text.Yellow-600 {
  color: #fdd835;
}
.stylus-text.Yellow-700 {
  color: #fbc02d;
}
.stylus-text.Yellow-800 {
  color: #f9a825;
}
.stylus-text.Yellow-900 {
  color: #f57f17;
}
.stylus-text.Yellow-A100 {
  color: #ffff8d;
}
.stylus-text.Yellow-A200 {
  color: #ff0;
}
.stylus-text.Yellow-A400 {
  color: #ffea00;
}
.stylus-text.Yellow-A700 {
  color: #ffd600;
}
.stylus-text.Amber {
  color: #ffc107;
}
.stylus-text.Amber-50 {
  color: #fff8e1;
}
.stylus-text.Amber-100 {
  color: #ffecb3;
}
.stylus-text.Amber-200 {
  color: #ffe082;
}
.stylus-text.Amber-300 {
  color: #ffd54f;
}
.stylus-text.Amber-400 {
  color: #ffca28;
}
.stylus-text.Amber-500 {
  color: #ffc107;
}
.stylus-text.Amber-600 {
  color: #ffb300;
}
.stylus-text.Amber-700 {
  color: #ffa000;
}
.stylus-text.Amber-800 {
  color: #ff8f00;
}
.stylus-text.Amber-900 {
  color: #ff6f00;
}
.stylus-text.Amber-A100 {
  color: #ffe57f;
}
.stylus-text.Amber-A200 {
  color: #ffd740;
}
.stylus-text.Amber-A400 {
  color: #ffc400;
}
.stylus-text.Amber-A700 {
  color: #ffab00;
}
.stylus-text.Orange {
  color: #ff9800;
}
.stylus-text.Orange-50 {
  color: #fff3e0;
}
.stylus-text.Orange-100 {
  color: #ffe0b2;
}
.stylus-text.Orange-200 {
  color: #ffcc80;
}
.stylus-text.Orange-300 {
  color: #ffb74d;
}
.stylus-text.Orange-400 {
  color: #ffa726;
}
.stylus-text.Orange-500 {
  color: #ff9800;
}
.stylus-text.Orange-600 {
  color: #fb8c00;
}
.stylus-text.Orange-700 {
  color: #f57c00;
}
.stylus-text.Orange-800 {
  color: #ef6c00;
}
.stylus-text.Orange-900 {
  color: #e65100;
}
.stylus-text.Orange-A100 {
  color: #ffd180;
}
.stylus-text.Orange-A200 {
  color: #ffab40;
}
.stylus-text.Orange-A400 {
  color: #ff9100;
}
.stylus-text.Orange-A700 {
  color: #ff6d00;
}
.stylus-text.Deep-Orange {
  color: #ff5722;
}
.stylus-text.Deep-Orange-50 {
  color: #fbe9e7;
}
.stylus-text.Deep-Orange-100 {
  color: #ffccbc;
}
.stylus-text.Deep-Orange-200 {
  color: #ffab91;
}
.stylus-text.Deep-Orange-300 {
  color: #ff8a65;
}
.stylus-text.Deep-Orange-400 {
  color: #ff7043;
}
.stylus-text.Deep-Orange-500 {
  color: #ff5722;
}
.stylus-text.Deep-Orange-600 {
  color: #f4511e;
}
.stylus-text.Deep-Orange-700 {
  color: #e64a19;
}
.stylus-text.Deep-Orange-800 {
  color: #d84315;
}
.stylus-text.Deep-Orange-900 {
  color: #bf360c;
}
.stylus-text.Deep-Orange-A100 {
  color: #ff9e80;
}
.stylus-text.Deep-Orange-A200 {
  color: #ff6e40;
}
.stylus-text.Deep-Orange-A400 {
  color: #ff3d00;
}
.stylus-text.Deep-Orange-A700 {
  color: #dd2c00;
}
.stylus-text.Brown {
  color: #795548;
}
.stylus-text.Brown-50 {
  color: #efebe9;
}
.stylus-text.Brown-100 {
  color: #d7ccc8;
}
.stylus-text.Brown-200 {
  color: #bcaaa4;
}
.stylus-text.Brown-300 {
  color: #a1887f;
}
.stylus-text.Brown-400 {
  color: #8d6e63;
}
.stylus-text.Brown-500 {
  color: #795548;
}
.stylus-text.Brown-600 {
  color: #6d4c41;
}
.stylus-text.Brown-700 {
  color: #5d4037;
}
.stylus-text.Brown-800 {
  color: #4e342e;
}
.stylus-text.Brown-900 {
  color: #3e2723;
}
.stylus-text.Grey {
  color: #9e9e9e;
}
.stylus-text.Grey-50 {
  color: #fafafa;
}
.stylus-text.Grey-100 {
  color: #f5f5f5;
}
.stylus-text.Grey-200 {
  color: #eee;
}
.stylus-text.Grey-300 {
  color: #e0e0e0;
}
.stylus-text.Grey-400 {
  color: #bdbdbd;
}
.stylus-text.Grey-500 {
  color: #9e9e9e;
}
.stylus-text.Grey-600 {
  color: #757575;
}
.stylus-text.Grey-700 {
  color: #616161;
}
.stylus-text.Grey-800 {
  color: #424242;
}
.stylus-text.Grey-900 {
  color: #212121;
}
.stylus-text.Blue-Grey {
  color: #607d8b;
}
.stylus-text.Blue-Grey-50 {
  color: #eceff1;
}
.stylus-text.Blue-Grey-100 {
  color: #cfd8dc;
}
.stylus-text.Blue-Grey-200 {
  color: #b0bec5;
}
.stylus-text.Blue-Grey-300 {
  color: #90a4ae;
}
.stylus-text.Blue-Grey-400 {
  color: #78909c;
}
.stylus-text.Blue-Grey-500 {
  color: #607d8b;
}
.stylus-text.Blue-Grey-600 {
  color: #546e7a;
}
.stylus-text.Blue-Grey-700 {
  color: #455a64;
}
.stylus-text.Blue-Grey-800 {
  color: #37474f;
}
.stylus-text.Blue-Grey-900 {
  color: #263238;
}
.stylus-text.Black {
  color: #000;
}
.stylus-text.Black-500 {
  color: #000;
}
.stylus-text.Black-text {
  color: rgba(0,0,0,0.87);
}
.stylus-text.Black-Primary {
  color: rgba(0,0,0,0.87);
}
.stylus-text.Black-Secondary-text {
  color: rgba(0,0,0,0.54);
}
.stylus-text.Black-Icons {
  color: rgba(0,0,0,0.38);
}
.stylus-text.Black-Disabled {
  color: rgba(0,0,0,0.38);
}
.stylus-text.Black-Hint-text {
  color: rgba(0,0,0,0.38);
}
.stylus-text.Black-Dividers {
  color: rgba(0,0,0,0.12);
}
.stylus-text.White {
  color: #fff;
}
.stylus-text.White-500 {
  color: #fff;
}
.stylus-text.White-text {
  color: #fff;
}
.stylus-text.White-Primary {
  color: #fff;
}
.stylus-text.White-Secondary-text {
  color: rgba(255,255,255,0.7);
}
.stylus-text.White-Icons {
  color: rgba(255,255,255,0.5);
}
.stylus-text.White-Disabled {
  color: rgba(255,255,255,0.5);
}
.stylus-text.White-Hint-text {
  color: rgba(255,255,255,0.5);
}
.stylus-text.White-Dividers {
  color: rgba(255,255,255,0.12);
}
